.wrapper {
  width: 50%;
  /* height: 100vh; */
  background-color: #6379f4;
  background-image: url(/public//images/waves.png);
  height: fit-content;
}
.container1{
  height: 100vh;
  overflow: hidden;
}

.phone{
  margin-top: -1rem;
}

.txt-phone{
  font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
  margin-top: -2.5rem;
}

.txt-desc{
  font-weight: 400;
font-size: 16px;
line-height: 23px;
color: rgba(255, 255, 255, 0.8);
}

.body {
  background: #fafcff;
  height: 100vh!important;
  overflow-y: hidden!important;
}
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}
.Nav {
  height: 12vh;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
}
/* :root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 12vh;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
} */
.btn-main{
  position: absolute;
  border: 1px solid #fdfefe;
  height: 7%;
  width: 10%;
  background-color: white;
  border-radius: 10px;
  transform: translate(-1%);
  transition: all .4s;
  color: #6379f4;
  cursor: pointer;
  transform: translate(30vw,-42vh);
}
.btn-main:hover{
  background: #6379f4;
  line-height: 1.5;
  transition: 0.2s ease-in;
  color: white;
}
.lock{
  color: rgba(169, 169, 169, 0.6);
  margin-top: -0.5rem!important;
}
.mail{
  color: rgba(169, 169, 169, 0.6);
}
.form-icons{
  color: rgba(169, 169, 169, 0.6);
  right: 4rem;
  margin-top: -0.5rem!important;

}
.input-register {
  width: 90%;
  padding-left: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.input-register:focus{
  border-bottom: 2px solid #6379f4;
}

.btn {
  background: #DADADA;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  color: #88888F;
  font-weight: 500;
  width: 85%;
  height: 7vh;
}

.btn:hover {
  background: #6379F4;
box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
border-radius: 12px;
  color: #ffffff;
}

.title {
  color: #6379f4;
  font-weight: bold;
}

.text-history{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    height: 8vh;
    width: 30%;
    border-top-left-radius: 15px;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    /* padding-top: 5vh; */
}

.input-AddPhone {
  width: 437px;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  margin: -1rem 10rem;
}

.input-AddPhone:focus{
  border-bottom: 2px solid #6379f4;
}

.input-AddPhone[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-phone{
  position: absolute;
  color: rgba(169, 169, 169, 0.6);
  right: 46rem;
  top: 18.7rem;
}

.input-AddPhone::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
}

.btn-manage{
  background-color: transparent;
  color: #6379f4;
  border: none;
  outline: none;
}

.shape {
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 75vh;
  background-color: #ffffff;
  border-left: 3px solid #ffffff;
}



.ul {
  margin-left: -1vh;
}

.list-top {
  display: flex;
  /* justify-content: center; */
  margin: 7vh -4vh;
  width: 100%;
  color: #3a3d42cc;
}
.list-bottom {
  display: flex;
  justify-content: center;
  margin: 12vh -4vh;
  width: 100%;
  color: #3a3d42cc;
  cursor: pointer;
}

.list-bottom:hover{
  /* border-left: 5px solid #6379f4; */
  color: #6379f4!important;
}

.active {
  border-left: 5px solid #6379f4;
  color: #6379f4!important;
  cursor: pointer;
}

/* nav a.active {
  background-color: #eee;
} */


/* .list-top:focus{
  border-left: 7px solid #6379f4;
  color: #6379f4;
} */


.changeColor:hover {
  background-image: url(/public/images/grid-blue.svg);
}

.list-text {
  padding-right: 5vw;
}

.modal-logout{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.content-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.btn-accept{
  background: #6379f4;
  color: #ffffff;
  font-weight: 500;
  width: 40%;
  height: 6vh;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

.btn-cancel{
  background:#DC411F;
  color: #ffffff;
  font-weight: 500;
  width: 40%;
  height: 6vh;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

.fix-list {
  padding-right: 3vw;
}
/* .li:active{
    border-left: 4px solid #6379f4;
} */

.balance {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.shape-blue {
  background-color: #6379f4;
  border-radius: 15px;
}

.box {
  width: 48%;
  height: 52vh;
  margin-top: 3vh;
  background-color: #ffffff;
}

.box::-webkit-scrollbar {
  display: none;
}

.big-box {
  height: 75vh;
  width: 100%;
  background-color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vh;
  background-color: #6379f4;
  color: #ffffff;
}

.search-user {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 90%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.search-user:hover{
  cursor: pointer;
}



.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #e5e8ed;
  height: 7vh;
  width: 45%;
  border-radius: 5px;
}

.text {
  color: rgba(58, 61, 66, 0.6);
  font-weight: 500;
}

.trash{
  color: #c0c0c0;
}

.skip {
  position: absolute;
  /* transform: translateX(-5rem); */
  margin: 0.4rem -4rem;
}

/* .h {
  transform: translateX(-2rem);
} */

.btn-balance {
  width: 100%;
  height: 10vh;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0.5em 10px;
  transform: translate(-1%);
  cursor: pointer;
  color: #ffffff;
  transition: all 0.4s;
}

.income{
  margin-left: 2vw;
  padding-top: 2vh;
}

.exphanse{
  margin-left: 14vw;
  padding-top: 2vh;
}

.users{
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 80vw;
  padding: 1vw;
}

.users:hover{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.desc{
  font-size: 12px;
  font-weight: bold;
  color: rgba(58, 61, 66, 0.6);
  margin-top: 1vh;
}

.price{
  font-weight: bold;
  color: #00ff00;
  margin-left: 8vw;
}

.price2{
  font-weight: bold;
  color: #ff5b37;
  margin-left: 10vw;
}

.week{
  margin-left: 40vw;
}

.search-input{
  box-sizing: border-box;
  width: 50vw;
  height: 7vh;
  margin: 0vw 4vh;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}


.btn-small {
  background: #dadada;
  color: #aaa;
  font-weight: 500;
  width: 25%;
  height: 6vh;
  border: none;
  border-radius: 12px;
  outline: none;
  margin-left: 45vw;
}

.btn-small:hover {
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  background-color: #6379f4;
  color: #ffffff;
}

.btn-small2 {
  background: #dadada;
  color: #aaa;
  font-weight: 500;
  width: 25%;
  height: 6vh;
  border: none;
  border-radius: 12px;
  outline: none;
  /* position: fixed; */
  transform: translate(35rem, -1.8rem);
}

.btn-small2:hover {
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  background-color: #6379f4;
  color: #ffffff;
}

.action-confirm{
  /* position: fixed; */
  /* background-color: #00ff00; */
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  /* position: fixed; */
  height: 25%;
  width: 100%;
}

.input-amount{
  width: 50%;
  border: none;
  outline: none;
  color: #6379f4;
  text-align: center;
  /* border-bottom: 1px solid #aaa; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 42px;
  transition: 0.2s ease;
  transform: translateX(6vw);
}

.input-amount[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-topup{
  width: 50%;
  border: none;
  outline: none;
  color: #6379f4;
  text-align: center;
  /* border-bottom: 1px solid #aaa; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 42px;
  transition: 0.2s ease;
  margin: 8rem 12rem;
}

.input-topup[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-notes{
  /* position: absolute; */
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  text-align: center;
  /* margin-left: -9vw; */
}

.icon{
  transform: translateX(2vw);
}

.saldo{
  transform: translateX(11vw);
}

.transfer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 75vh; */
  width: 100%;
}

.detail{
  margin-left: 1vw; 
  height: 45%;
  overflow-y: auto!important;
}
.detail::-webkit-scrollbar {
  display: none;
}

.search-receiver{
  margin-left: 1vw; 
  padding-top: 3vh;
  height: 75%;
  overflow-y: auto;
}

.search-receiver::-webkit-scrollbar {
  display: none;
}

.one{
  margin-left: 25vw;
}

.pf{
  float: right;
  margin-right: 4rem;
  margin-top: -2rem;
  text-decoration: none;
  color: rgba(169, 169, 169, 0.6);
}

  .pincode-input-text
  {
    border-radius: 10px;
    max-width: 3vw;
    margin-right: 1vw!important;
    border: 1px solid rgba(169, 169, 169, 0.6);
    transform: translateX(14vw);
  }
  .pincode-input-text:focus
  {
    outline:none;
    box-shadow:none;
  }

  .eye{
    margin-left: -3vw;
  }

  .title-mobile{
      color: #6379f4;
      height: 25vh;
      font-weight: bold;
      background-color: #FAFCFF;
  }
/* 
  input[type="file"]{
    display: none;
  } */
.photo {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.photo::-webkit-file-upload-button {
  visibility: hidden;
}
.photo::before{
  content: 'Select Photo';
  border-radius: 8px;
  background-color: #6379f4;
  color: #fafcff;
  outline: none;
  text-align: center;
  height: 6vh;
  width: 25vw;
  padding-top: 7px;
  position: absolute;
  transform: translate(0vw, 30vh);
}
.picture{
  transform: translate(24vw, -22vh);
}
.selected{
  color: #6379f4;
}
/* .photo::before {
  content: "Select Profile Picture";
  background: -webkit-linear-gradient(top, #6379f4, #8596f3);
  border: 1px solid #6379f4;
  border-radius: 7px;
  padding: 5px 8px;
  padding-left: 5rem;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  color: #fff;
}
.photo:hover::before {
  background: -webkit-linear-gradient(top, #495dcf, #6270c2);
}
.photo:active::before {
  background: -webkit-linear-gradient(top, #6379f4, #8596f3);
} */ 
  .edit-profile{
    width: 60%;
    padding-left: 50px;
    margin: 3vh 4vw;
    border: none;
    color: #3a3d42cc;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

  .cam{
    color: rgba(169, 169, 169, 0.6);
    font-size: 1.5rem;
    position: absolute;
  }

  .icon-button{
    position: absolute;
    --button-size: calc(var(--nav-size) * 1);
    /* width: var(--button-size); */
    /* height: var(--button-size); */
    background-color: #fafcff;
    border-radius: 50%;
    /* padding: 5px;
    margin: 2px; */
    transform: translate(1rem, 1rem);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    transition: filter 300ms;
  }
  .icon-button:hover {
    filter: brightness(2);
  }
  .X-button{
    background-color: #dadada;
    color: #FAFCFF;
    border-radius: 20%;
    border: none;
    outline: none;
    transition: filter 300ms;
  }
  .X-button:hover {
    background-color: #6379f4;
  }
  .modal-notif{
    position: absolute;
    padding-bottom: 30vh;
    margin-left: -50vw;
    margin-bottom: 50vh;
    z-index: 3;
    height: 80vh;
    width: 25vw;
    background: #000;
    box-shadow: 0px 0px 70px rgba(99, 99, 99, 0.15);
    border-radius: 20px;
    transform: translate(-18rem, 3rem);
  }
  @media screen and (max-width:768px){
    .login-mob{
      /* margin-top: 22vh!important;
      transform: translateX(4vw);
      position: absolute; */
      background-color: #fff;
    }
  }

  .loader-conatainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6379f4;
  }

  .loader{
    left: 50%;
    top: 30%;
    z-index: 1000;
    position: absolute;
  }
